/* Modal Container */
.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

/* Modal Header */
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Close Button */
.closeBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.closeBtn:hover {
  color: orange;
}

/* Modal Content */
.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  height: 80px;
  background-color: #cfcfcf45;
  border-radius: 8px;
  box-shadow: inset 0 0 10px #ccc;
  cursor: text;
}